google-genai==1.29.0
google-auth==2.40.3
transformers~=4.55.2
faiss-cpu~=1.12.0
numpy~=2.3.2
sentence-transformers~=5.1.0
PyYAML~=6.0.2
feedparser~=6.0.11
playwright~=1.54.0
langchain~=0.3.27
python-dotenv~=1.1.1
